body {
    margin: 0;
    font-family: "MyriadArabic";
    font-size: 16px;
    background-color: #f9f9f9;
}

.color-orang {
    color: #fe6d2a !important;
}

.size-16 {
    font-size: 16px !important;
}

a {
    text-decoration: none;
}

.d-flex {
    display: flex;
    align-items: center;
}

@media (max-width:767px) {
    .col-xs-hide {
        display: none;
    }

    .d-flex {
        justify-content: center;
    }
}

