body {
    margin: 0;
    font-family: "MyriadArabic";
    font-size: 16px;
    background-color: #f9f9f9;
}

.color-orang {
    color: #fe6d2a !important;
}

.size-16 {
    font-size: 16px !important;
}

a {
    text-decoration: none;
}

.d-flex {
    display: flex;
    align-items: center;
}

@media (max-width:767px) {
    .col-xs-hide {
        display: none;
    }

    .d-flex {
        justify-content: center;
    }
}

.how {
    background-color: #eee;
    padding: 30px 0;
    text-align: center;

    .how__title {
        font-size: 20px;
        font-weight: 600;
    }

    .how__desc {
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        margin-top: 20px;
        text-align: justify;
    }
}

.btn-warning {
    background-color: #fe6d2a;
    outline: none;
    box-shadow: none;

    i {
        font-size: 16px;
        font-weight: 600;
    }
}

.contact {
    padding: 40px 0;

    .contact__desc {
        font-weight: 600;
        margin: 15px 0;
        font-size: 18px;
    }

    .contact__icon {
        font-weight: 500;
        margin: 15px 0;
        font-size: 18px;
        color: #fe6d2a;
        margin-left: 10px;
    }

    .d-flex {
        justify-content: flex-start;
    }
}

.title {
    text-align: center;
    font-weight: 600;
    font-size: 26px;
}

.desc {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    position: relative;
    margin-bottom: 20px;

    &::before {
        content: '';
        position: absolute;
        top: 40px;
        width: 140px;
        height: 2px;
        background-color: #fe6d2a;
        left:calc(50% - 60px);
    }
}
