.header {
    background-color: #fff;

    .header__top {
        padding: 3px 0;
        background-color: #eee;

        .header__top__share {
            width:20px;
            height: 20px;
            display: inline-flex;
            color: #666;
            border:1px solid #666 !important;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            text-decoration: none;
        }
    }

    .header__logo {
        padding:3px 0;
    }

    .header__logo__title {
        color: #333;
        font-weight: 600;
        text-align: left;
        font-size: 20px;
    }

    .header__logo__desc {
        color: #333;
        font-weight: 500;
        text-align: left;
        font-size: 18px;
    }

    .header__logo__phone {
        text-align: left;
        color:#fe6d2a !important;
        font-size:20px;
        font-weight:bold
    }

    @media (max-width:767px) {
        & .col-md-6.col-sm-6 {
            text-align: center !important;
        }
    }
}

.bread {
        background-color: #eee;
        font-weight: 600;

    .bread__item {
        display: inline-flex;
        align-items: center;
    }

    .breadcrumb {
        margin-bottom: 0px;
        background-color: #eee;

        a {
            color: #fe6d2a;
        }
    }
}