.navbar-inverse{
    background-color: #001833;
    margin: 0;
    border-radius: 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;

    &:hover {
        color: #fe6d2a !important;
    }
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #fe6d2a !important;
    font-weight: 600;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #ccc;
}