.product{
    border: 1px solid #ececec;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 1px #fff;
    margin: 15px 0;
    border-bottom: 3px solid #ccc;
    border-radius: 3px;
    direction: rtl;
    
    .product__img {
        text-align: center;
        background-image: url(/img/p2.jpg);
        background-size: cover;
        padding: 5px;
        position: relative;
        transition: all ease 0.4s;
        overflow: hidden;

        img {
            max-width:100%;
            height: 200px;
            transition: all 0.5s ease 0s;
            margin: auto;
        }

        &::before {
            content: '';
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height: 100%;
            background-color: #fe6d2a;
            opacity: 0.3;
            display: none;
            z-index: 1;
            transition: all ease 0.4s;
        }
    }

    .product__title {
        text-align: left;
        font-size: 20px;
        margin-top: 10px;
        color: #fe6d2a;
        font-weight: 600;

        span {
            color: #666;
        }
    }

    .product__desc {
        color: #555;
        font-size: 18px;
        text-align: left;
        font-weight: 500;
    }

    .product__detail {
        color: #555;
        text-align: right;
        font-weight: 500;
    }

    &:hover > .product__img > img {
        transform: scale(1.3);
    }

    &:hover > .product__img::before {
        display: block;
    }

    &:hover {
        border-bottom-color: #fe6d2a;
    }
}

.page {
    margin: 20px 0;
    text-align: center;
    direction: ltr;

    .page__btn {
        padding: 4px 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0px 0px 1px #ccc;
        border-radius: 10px;
        margin: 5px 0;
        color: #fe6d2a;
        text-decoration: none;

        &:hover , &.active {
            background-color: #fe6d2a;
            color: #fff;
            border-color:#fe6d2a;
        }
    }
}