.slick {
    direction: ltr;
    padding: 40px 0;
    position: relative;

    .slick__item {
        direction: ltr;
    }

    a {
        text-decoration: none;
    }

    .slick__title {
        text-align: right;
        margin:0 10px;
        font-weight: 600;
        font-size: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width:140px;
            height: 2px;
            background-color: #fe6d2a;
            top: 32px;
            right: 0;
        }
    }

    .slick__btn {
        position: absolute;
        left: 10px;
        top: 30px;
    }
}

[dir='rtl'] .slick-slide {
    outline: none;
}